Downloading the data for running the models

# Set up

## Step 1: import the necessary packages

In [1]:
import os
from datetime import datetime, timedelta
import psycopg2
import pandas as pd
#import matplotlib

In [2]:
print(pd.__version__)
print(psycopg2.__version__)

1.2.3
2.8.6 (dt dec pq3 ext lo64)

## Step 2: connect to the database

In [3]:
crop_host = "cropapptestsqlserver.postgres.database.azure.com"
crop_port = "5432"
crop_dbname = "app_db"
crop_user = "cropreader@cropapptestsqlserver"
crop_password = "z9a6u9hBMeT9gQmn5FDK"

In [4]:
print(psycopg2.__version__)

2.8.6 (dt dec pq3 ext lo64)

In [5]:
conn = psycopg2.connect(host=crop_host, port=crop_port, dbname=crop_dbname,     user=crop_user, password=crop_password)

In [6]:
cur = conn.cursor()

# Access latest environmental and energy data

In this section we access the latest data from the relevant tables for the last 2 years.

In [12]:
# select your date range
# we want the last 2 years

dt_to = datetime.now()
dt_from = dt_to + timedelta(days=-366)
print(dt_from)

## Data from zensie platform

In [10]:
## 30 MHz Data Access Example

sql_command = """SELECT sensors.name, zensie_trh_data.* FROM sensor_types, sensors, zensie_trh_data WHERE sensors.id = zensie_trh_data.sensor_id AND zensie_trh_data.timestamp >= '%s' AND zensie_trh_data.timestamp < '%s'""" % (dt_from, dt_to)


df_30MHz = pd.read_sql(sql_command, conn)

df_30MHz.tail()

,name,id,sensor_id,timestamp,temperature,humidity,time_created,time_updated
2206035,R&D_T/RH_1,543386,24,2021-05-31 06:30:00,20.75,66.0,2021-05-31 07:00:20.752727,None
2206036,R&D_T/RH_1,543386,24,2021-05-31 06:30:00,20.75,66.0,2021-05-31 07:00:20.752727,None
2206037,R&D_T/RH_1,543386,24,2021-05-31 06:30:00,20.75,66.0,2021-05-31 07:00:20.752727,None
2206038,R&D_T/RH_1,543386,24,2021-05-31 06:30:00,20.75,66.0,2021-05-31 07:00:20.752727,None
2206039,R&D_T/RH_1,543386,24,2021-05-31 06:30:00,20.75,66.0,2021-05-31 07:00:20.752727,None

## Data from Stark

In [109]:
## Accessing new energy data

sql_command = """SELECT * FROM utc_energy_data WHERE utc_energy_data.timestamp >= '%s' AND utc_energy_data.timestamp < '%s'""" % (dt_from, dt_to)


df_energy_utc = pd.read_sql(sql_command, conn)

df_energy_utc.tail()

,timestamp,electricity_consumption,time_created,time_updated,sensor_id,id
36091,2021-05-09 22:00:00,1.34,NaT,None,16,54044
36092,2021-05-09 22:30:00,1.34,NaT,None,16,54045
36093,2021-05-09 23:00:00,1.34,NaT,None,16,54046
36094,2021-05-09 23:30:00,1.34,NaT,None,16,54047
36095,2021-05-10 00:00:00,1.33,NaT,None,16,54048

# Save the data in LatestData folder

In [19]:
data_folder = "C:/Users/mkj32/OneDrive - UIS/GU/Models_Live/LatestData"

os.chdir(data_folder)

In [20]:
# save zensie data to csv file
df_30MHz.to_csv(data_folder +"\Env_30MHz_raw.csv")

In [21]:
# save utc energy 
df_energy_utc.to_csv(data_folder +"\Energy_utc.csv")

NameError: name 'df_energy_utc' is not defined